.header { 
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #175CAE;
    align-items: center;
}

.header h2 { 
    color: #175CAE;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 29.05px;
}

.header h3 { 
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.2px;
    color: #0E3C73;
    background-image: url(images/icon.svg);
    background-repeat: no-repeat;
    padding-left: 30px;
    background-position: left;
}

.header h4 {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.2px;
    color: #0E3C73;
}


html, body {
    margin: 0;
    padding: 0;
    height: 100%; 
}
.service-name { 
    margin-right: 50px;
    font-weight: 300;
    color: #175CAE;
}

.burger { 
    background: none;
    border: none;
    color: #175CAE;
}

.main-btns {
    margin-top: 52px;
    align-items: center; 
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.register { 
    font-size: 32px;
    width: 275px;
    height: 84px;
    background-color: #175CAE;
    border: none;
    border-radius: 40px;
    line-height: 0px;
}

.enter { 
    font-size: 32px;
    height: 84px;
    width: 217px;
    background-color: #175CAE;
    border: none;
    border-radius: 40px;
    line-height: 0px;
    color: white;
}

.no-register { 
    font-size: 24px;
}

.footer { 
    margin-top: 148px;
    background-color: #175CAE;
    width: 100%;
    height: 100%;
}

.register h4 { 
    color: white;
    font-weight: 400;
}

a { 
    text-decoration: none;
}

.email { 
    margin-top: 60px;
    display: flex;
    margin-left: 55px;
}

.email p { 
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    color: #0E3C73;
}

.email input { 
    border-radius: 40px;
    width: 360px;
    height: 68px;
    margin-left: 24px;
}

input::placeholder {
    font-family: Inter;
    padding-left: 64px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    color: #76A3D8;
}    

.username { 
    display: flex;
    margin-left: 55px;
    margin-top: 30px;
}

.username input{ 
    margin-left: 81px;
    border-radius: 40px;
    width: 360px;
    height: 68px;
}

.buttons { 
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    max-width: 470px;
    margin-left: 40px;
}

.buttons button { 
    display: flex;
    max-height: 40px;
    background-color: #CED8ED;
    border: none;
    border-radius: 10px;
    padding-left: 30px;
    align-items: center;
    background-image: url(images/arrow.svg);
    background-position: 91%;
    background-repeat: no-repeat;
}

.buttons p { 
    font-size: 20px;
    font-weight: 400;
    line-height: 24.2px;
    background-repeat: no-repeat;
    padding-left: 30px;
    background-position: left center;
}

.buttons button:not(:last-child) { 
    margin-bottom: 40px;
    max-height: 40px;
}

.history p{ 
    background-image: url(images/clock.svg);
}

.history { 
    height: 40px;
    width: 470px;
}

.stuff { 
    height: 40px;
    width: 470px;
}

.resources { 
    width: 470px;
    height: 40px;
}

.stuff p{ 
    background-image: url(images/wrench.svg);
}

.resources p{ 
    background-image: url(images/folder.svg);
}

.footer-btns { 
    display: flex;
    margin-top: 41px;
    margin-left: 60px;
}

.footer-btns button { 
    padding: 0;
    border-radius: 20px;
    border: none;
    color: white;
    background-color: #175CAE;
}

.footer-btns p { 
    padding-right: 24px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
}

.edit { 
    width: 239px;
    height: 51px;
    text-wrap: nowrap;
    text-align: center;
}

.edit p { 
    padding-left: 5px;
}

.exit { 
    margin-left: 10px;
}